<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
    <title>Manage Documents</title>
    <link rel="stylesheet" href="css/main.css" type="text/css" />
    <style type="text/css">
        #main {
            width: 100%;
        }
    </style>
</head>

<body ng-app="SafeApp" ng-controller="controller">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type="text/javascript" src="controllers/ReviewEmployeesController.js"></script>
    <script type="text/javascript">
        var app = angular.module('SafeApp', []);
        var ctl = app.controller('controller', ReviewEmployeesController);
        ctl.$inject = ['$scope', '$http', '$location'];
    </script>
    <div id="main">
        <table width="100%">
            <tr class="main-header">
                <th>{{Organization.Name}}</th>
            </tr>
            <tr>
                <td>{{Organization.Addresses[0].Details.Address1}} {{Organization.Addresses[0].Details.Address2}} {{Organization.Addresses[0].Details.City}}, {{Organization.Addresses[0].Details.State}} {{Organization.Addresses[0].Details.ZipCode}}</td>
            </tr>
        </table>
        <hr />
        <table cellpadding="1" cellspacing="0" width="100%">
            <tr class="main-header">
                <th colspan="4">Employee Documentation Status</th>
            </tr>
            <tr>
                <th>Employee</th>
                <th>Position</th>
                <th>Hire Date</th>
                <th ng-repeat="def in DocumentDefinitions">
                    {{def.Name}}
                </th>
                <th>Status</th>
            </tr>
            <tr ng-repeat="tenure in Organization.Tenures" class="selectable">
                <td>{{tenure.Educator.Title}} {{tenure.Educator.FirstName}} {{tenure.Educator.LastName}}</td>
                <td>{{tenure.PositionsHeld}}</td>
                <td>{{tenure.StartDate | date}}</td>
                <td ng-repeat="def in DocumentDefinitions"><a href="http://google.com" ng-show="HasDocument(tenure, def)"><img src="images/PDF-icon.gif" border="0" /></a></td>
                <td><img ng-show="ValidateDocuments(tenure, def)" src="images/greencheck.png" />
                    <img ng-hide="ValidateDocuments(tenure, def)" src="images/redx.png" /></td>
            </tr>
        </table>
    </div>
</body>
</html>